<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoadAllVegetables</servlet-name>
        <servlet-class>controller.LoadAllVegetables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchVegetable</servlet-name>
        <servlet-class>controller.SearchVegetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetails</servlet-name>
        <servlet-class>controller.ViewDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVegetable</servlet-name>
        <servlet-class>controller.AddVegetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVegetable</servlet-name>
        <servlet-class>controller.UpdateVegetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVegetable</servlet-name>
        <servlet-class>controller.DeleteVegetable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAllVegetables</servlet-name>
        <url-pattern>/LoadAllVegetables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchVegetable</servlet-name>
        <url-pattern>/SearchVegetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetails</servlet-name>
        <url-pattern>/ViewDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVegetable</servlet-name>
        <url-pattern>/AddVegetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVegetable</servlet-name>
        <url-pattern>/UpdateVegetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVegetable</servlet-name>
        <url-pattern>/DeleteVegetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
</web-app>
